---
layout: default
---
<h1>Recipe for {{ page.title }}</h1>
<p>{{ page.date | date_to_string }}</p>

<table>
  <thead>
    <tr>
      <th>Preparaton Time</th>
      <th>Cooking Time</th>
      <th>Total Time</th>
      <th>Servings</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ page.preparation_time }} minutes</td>
      <td>{{ page.cooking_time }} minutes</td>
      <td>{{ page.total_time }} minutes</td>
      <td>{{ page.servings }}</td>
    </tr>
  </tbody>
</table>

{{ content }}
